<style>
  .message-content {
    max-width: 600px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá {{name}},</p>
  <p>Recebemos uma solicitação de troca de senha para sua conta no GoBarber.</p>
  <p>Se foi você, então clique no link abaixo para definir uma nova senha: </p>
  <p>
    <a href="{{link}}">Resetar minha senha</a>
  </p>
  <p>Se não foi voce, favor desconsiderar este e-mail!</p>
  <p>Obrigado!<br/>
    <strong>Equipe GoBarber</strong>
  </p>
</div>
